.container {
  p {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
    font-family: "Regular";
  }
  .imageContainer {
    width: "auto";
    height: "auto";
    // position: relative;
    // img {
    //   object-fit: cover;
    // }
  }
}
